# Folders
.circleci/
.editorconfig
src/
test/
types/

# Files
.gitignore
.travis.yml
gulpfile.js
tsconfig.json
tslint.json

# project specific
*.exe
*.nsi
*.nlf
test.js
test.ts
todo.md

# NLF JSON
Afrikaans.json
Albanian.json
Arabic.json
Armenian.json
Asturian.json
Basque.json
Belarusian.json
Bosnian.json
Breton.json
Bulgarian.json
Catalan.json
Corsican.json
Croatian.json
Czech.json
Danish.json
Dutch.json
English.json
Esperanto.json
Estonian.json
Farsi.json
Finnish.json
French.json
Galician.json
Georgian.json
German.json
Greek.json
Hebrew.json
Hungarian.json
Icelandic.json
Indonesian.json
Irish.json
Italian.json
Japanese.json
Korean.json
Kurdish.json
Latvian.json
Lithuanian.json
Luxembourgish.json
Macedonian.json
Malay.json
Mongolian.json
Norwegian.json
NorwegianNynorsk.json
Pashto.json
Polish.json
Portuguese.json
PortugueseBR.json
Romanian.json
Russian.json
ScotsGaelic.json
Serbian.json
SerbianLatin.json
SimpChinese.json
Slovak.json
Slovenian.json
Spanish.json
SpanishInternational.json
Swedish.json
Tatar.json
Thai.json
TradChinese.json
Turkish.json
Ukrainian.json
Uzbek.json
Vietnamese.json
Welsh.json
